
.label {
  width: 20% !important;
}

.value {
  width: 80% !important;
}

.playpause {
  background:url(/images/pause_play_stop_black.png) no-repeat 0 0;
  width:32px;
  height:32px;
}

.playpause.play {
  background-position: -40px 0px;
}

.playpause.pause {
  background-position: 0px 0px;
}

.playpause.stop {
  background-position: -81px 0px;
}

#title_grid {
  height: 32px !important;
}

.title_grid h1 {
  font-size: 20px;
  margin-top: -0px;
}

.colorselect {
	font-size: 30px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	height: 40px;
	padding-left:30px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 8px;
	margin-right: 8px;
}

.b-red {
	background-color: red;
}
.b-yellow {
	background-color: yellow;
}
.b-green {
	background-color: green;
}
.b-teal {
  background-color: teal;
}
.b-blue {  
	background-color: blue;
}
.b-violet {
	background-color: violet;
}
.b-white {
	background-color: white;
}
